{% extends "partials/base.html" %}

{% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-4 my-3 shadow">
        <div class="card">
            <div class="card-body">
                <h3>form</h3>
            </div>
        </div>
    </div>
    
    <div class="col-md-8">
        <div class="card shadow my-3-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                       <small>20th june 2022</small>
                       <hr>
                       <a class='h3' href=""> first Post</a>
                       <p class="text-justify my-3" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="card shadow my-3-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                       <small>20th june 2022</small>
                       <hr>
                       <a class='h3' href=""> first Post</a>
                       <p class="text-justify my-3" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="card shadow my-3-2">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                       <small>20th june 2022</small>
                       <hr>
                       <a class='h3' href=""> first Post</a>
                       <p class="text-justify my-3" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-8">
        <div class="card shadow my-3">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="" alt="img">
                    </div>
                    <div class="col-md-8">
                       <small>20th june 2022</small>
                       <hr>
                       <a class='h3' href=""> first Post</a>
                       <p class="text-justify my-3" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, incidunt.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
  </div>
</div>
   
{% endblock content %}

