{% extends "partials/base.html" %}

{% block title %}Login Page{% endblock  %}
{% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-5 offset-md-7 ">
        <div class="card">
            <div class="card-body">
                <h4>Login Page</h4>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    
                    <input class="btn btn-primary btn-block " type="submit" value="Login">
                
                </form>
            </div>
        </div>
    </div>
    
   
    
    
    
  </div>
</div>
   
{% endblock content %}

