{% extends "partials/base.html" %}

{% block title %}Login Page{% endblock  %}
{% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-5 offset-md-7 ">
        <div class="card">
            <div class="card-body  ">
               <div class="text-center" >
                <h4>Login Page</h4>
               </div>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p}}
                    
                    <div class="text-center" >
                        <input class="btn btn-primary btn-lg " type="submit" value="Login">
                    </div>
                
                </form>
                <div class="text-center my-3 " >
                    <a href="">Forget Password</a>
                </div>
               <div class="text-center" > 
                <a class="btn btn-success"  href="{% url 'users-sign-up' %} ">Create account</a>
               </div>
            </div>
        </div>
    </div>
    
   
    
    
    
  </div>
</div>
   
{% endblock content %}

