{% extends "partials/base.html" %}

{% block title %}Profile Page{% endblock  %}
{% block content %}

<div class="container">
  <div class="row mt-5 pt-3">
    <div class="col-md-6 offset-md-3 ">
        <div class="card">
            <div class="card-body  ">
                <span class="h4" >Profile Page</span>
                <span><a class="btn btn-info btn-sm float-right " href="">Edit Profile</a></span>
                <hr>
              <div class="row">
                <div class="col-md-4">
                    <img src="" alt="profile-img">
                </div>
                <div class="col-md-8">
                    <h4>Name:EKEN</h4>
                    <h4>email:emreeken1834@gmail.com</h4>
                </div>
              </div>
            
            
               
            </div>
        </div>
    </div>
  </div>
</div>
   
{% endblock content %}

